github "ReactiveX/RxSwift" ~> 5.0
github "realm/realm-cocoa" ~> 3.19
github "RxSwiftCommunity/RxAlamofire" ~> 5.0
github "RxSwiftCommunity/RxDataSources" ~> 4.0
github "RxSwiftCommunity/RxRealm" ~> 1.0
github "RxSwiftCommunity/RxSwiftExt" ~> 5.0
github "Hearst-DD/ObjectMapper" ~> 3.5
github "radex/SwiftyUserDefaults" ~> 4.0
github "Alamofire/Alamofire" ~> 4.9
github "tristanhimmelman/AlamofireObjectMapper" ~> 5.2
github "Alamofire/AlamofireNetworkActivityIndicator" ~> 2.4
github "SVProgressHUD/SVProgressHUD" ~> 2.2
github "onevcat/Kingfisher" ~> 5.8
github "maxep/MXParallaxHeader" ~> 1.0
github "ArtSabintsev/Siren" ~> 5.2
github "HeroTransitions/Hero" ~> 1.4
github "formbound/StateViewController" ~> 1.1
github "APUtils/ObjectMapperAdditions" ~> 6.0
github "Openium/SwiftiumKit" ~> 1.5
github "eddiekaiger/SwiftyAttributes" ~> 5.1
github "xmartlabs/Eureka" ~> 5.1
github "optonaut/ActiveLabel.swift" ~> 1.1
